@import "media_query";

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  position: absolute;
  margin: 3% 0 0 3%;

  a {
    font-size: 14px;
    @include tablet {
      color: black;
      margin-left: 5%;
    }
  }

  h4 {
    font-size: 24px;
    margin-left: 20px;
    color: #fff;

    @include tablet {
      margin-left: 180%;
      transform: translateX(100%);
    }
  }

  &__logo {
    cursor: pointer;
  }

  .burger div {
    width: 26px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .burger {
    display: none;
    cursor: pointer;
    z-index: 11;
    margin-left: 20%;
    @include tablet {
      display: block;
    }
  }

  .nav-active {
    transform: translateX(35%);
  }

  ul {
    display: flex;
    margin-left: 30px;
    @include tablet {
      margin-left: 150px;
    }
  }
  &__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    width: 100%;

    li {
      list-style: none;

      &:hover {
        transition: 0.2s ease-in;
        border-bottom: 1px solid white;
      }

      @include tablet {
        margin-left: 15px;
      }
    }

    @include tablet {
      position: absolute;
      height: 15vh;
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100vw;
      transform: translateX(200%);
      transition: transform 0.5s ease-in;
    }

    &--links {
      margin-left: 20px;

      right: 0;
      padding: 10px;
      color: #fff;
      text-decoration: none;
      &:hover {
        transition: all 0.3s ease;
      }

      @include tablet {
        opacity: 0;
      }
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  border: 2px solid hsl(0, 0%, 63%);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  border: 2px solid hsl(0, 0%, 63%);
}

// .navbar {
//   display: flex;
//   position: absolute;
//   justify-content: space-around;
//   align-items: center;
//   height: 8vh;
//   z-index: 10;

//   .burger div {
//     width: 25px;
//     height: 3px;
//     background-color: #fff;
//     margin: 5px;
//     transition: all 0.3s ease;
//   }

//   .burger {
//     display: none;
//     cursor: pointer;
//     margin-right: -220%;

//     @include tablet {
//       display: block;
//     }
//   }
//   .nav-active {
//     transform: translateX(-100%);
//   }
//   .menu {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     width: 100%;

//     li {
//       @include tablet {
//         padding: 35px;
//         width: 100%;

//         &:hover {
//           background-color: white;
//           transition: 0.2s ease-in;
//         }
//       }
//     }

//     .links {
//       list-style: none;
//       padding: 35px;
//       margin: 30px 30px auto auto;

//       &:hover {
//         transition: all 0.3s ease;
//       }

//       @include tablet {
//         opacity: 0;
//       }
//     }

//     a {
//       color: white;
//       text-decoration: none;
//     }

//     @include tablet {
//       position: absolute;
//       right: 0;
//       background-color: black;
//       height: 92vh;
//       top: 8vh;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       width: 100%;
//       transform: translateX(320%);
//       transition: transform 0.5s ease-in;
//     }
//   }

//   .logo {
//     color: white;
//     font-size: 24px;
//     margin: 30px 30px auto 30px;
//   }
// }

// @keyframes navLinkFade {
//   from {
//     opacity: 0;
//     transform: translateX(50px);
//   }
//   to {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

// .toggle .line1 {
//   transform: rotate(-45deg) translate(-5px, 6px);
// }
// .toggle .line2 {
//   opacity: 0;
// }
// .toggle .line3 {
//   transform: rotate(45deg) translate(-5px, -6px);
// }

// //     .title {
// //       font-size: 1.5rem;
// //     }

// //     .links:hover {
// //       border-bottom: 2px solid white;
// //     }

// //     .bars {
// //       display: none;

// //       @include tablet {
// //         display: block;
// //         z-index: 10;
// //       }
// //     }
// //   }
